@{
	ViewData["Title"] = "Park Data";
	@model Parks.Models.ParkViewModel;
}

<div class="container">
	<div class="row">
		<h1>Parks</h1>
	</div>

	@using (Html.BeginForm("ParkData", "Parks"))
	{
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<input class="btn btn-success" type="submit" id="search-btn" value="Search" />
			</div>
			<input type="text" class="form-control" placeholder="Park Name or Keyword" name="search">
		</div>
	}

	@foreach (var park in @Model.AllParks)
	{
		<hr />
		<div class="row">
			<h3>@park.ParkName</h3>
		</div>

		<div class="row">
			<h5>Borough: @park.Borough</h5>
		</div>

		<div class="row">
			<h5>Acres: @park.Acres</h5>
		</div>
		<div class="row">
			<h5>Description: </h5>
			<div>@Html.Raw(@park.Description)</div>
		</div>
	}
</div>
